.region{style: "left: #{face.x}px; top: #{face.y}px; width: #{face.width}px; height: #{face.height}px;", title: face.name}
  -# .handle.SE
  .delete-button
    = image_tag "delete-icon.png", width: 16, height: 16