
= link_to "<< Back to photos", photos_path

%h1= @photo.filename

= button_to "Redetect Faces", redetect_photo_path(@photo)
= button_to "Edit names", edit_photo_path(@photo), method: :get

%button.add-region Add Region

.photo-container{style: "background-image: url('#{full_photo_path @photo}'); width: #{@photo.width}px; height: #{@photo.height}px;"}
  = render @photo.faces

#prototype{style: 'display: none;'}
  = render Face.new(x: 0, y: 0, width: @median_width, height: @median_height)
